body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #d5d5d5;
}

.quiz-container {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.question-container {
    margin-bottom: 20px;
    font-weight: bold;
}

.answer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
}

.answer {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #0056b3;
}

.feedback {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}
.feedback.show-feedback {
    opacity: 1;
    transform: translateX(-50%) translateY(-20px);
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.progress {
    height: 100%;
    width: 0;
    background-color: red;
    border-radius: 5px;
    transition: width 0.3s;
}

.lives {
    font-weight: bold;
    color: red;
}

.timer {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}